.root {
    width: 350px;
}

.form {
    position: relative;
}

.input,
.list-wrapper {
    box-sizing: border-box;
}

.input {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border: 1px solid #eee;
    border-radius: 20px;
    font-size: 16px;
}

.input-active {
    border-radius: 20px 20px 0 0;
}

.clear {
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 20px;
    border: 0;
    background: transparent;
    font-size: 16px;
    color: #9aa0a6;
    cursor: pointer;
}

.list-wrapper {
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    background: #fff;
}

.list {
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 200px;
    width: 100%;
    list-style: none;
    overflow: auto;
}

.list-item {
    padding: 4px 0;
    cursor: pointer;
}

.message {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.highlight {
    background-color: #ccc;
}
